<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YouBike資訊</title>
</head>
<body>
  <form action="/total">
    <label>列出所有 YouBike 站的資訊</label>
    <button type="submit">查詢</button>
  </form>
  <form action="/rent">
    <label>借車數量</label>
    <input type="number" name="number" min="0" max="40" step="1" required />
    <button type="submit">查詢</button>
  </form>
  <form action="/return">
    <label>查詢南門國中站剩餘車位數量</label>
    <button type="submit">查詢</button>
  </form>
</body>
</html>