<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>all</title>
</head>
<body>
  <h2>南門國中站的資訊</h2>
  <a href="/">回首頁</a>
  <% for (let i = 0; i < number.length; i++) { %>
    <p><%= JSON.stringify(number[i]) %></p>
  <% } %>
</body>
</html>